.container {
  width: 60%;
  margin: 3rem auto auto auto;
  
}
.alert {
  padding: 2rem;
  background-color: #c8b6e2;
}
button {
  background-color: #c8b6e2;
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem auto auto auto;
  cursor: pointer;
}
